In [1]:
my_list = [1,2,3,4]

In [2]:
my_list

[1, 2, 3, 4]

In [3]:
my_list= ['Jose', 1,34]

In [4]:
len(my_list)

3

In [5]:
my_list[0]

'Jose'

In [6]:
my_list.append('kiara')

In [7]:
my_list

['Jose', 1, 34, 'kiara']

In [8]:
l2 = ['blanco', 'spike']

In [9]:
my_list + l2

['Jose', 1, 34, 'kiara', 'blanco', 'spike']

In [10]:
my_list

['Jose', 1, 34, 'kiara']

In [11]:
l

NameError: name 'l' is not defined

In [12]:
l2

['blanco', 'spike']

In [13]:
l3 = l2 + my_list

In [14]:
l3

['blanco', 'spike', 'Jose', 1, 34, 'kiara']

In [15]:
my_list[0]= "Arnold"

In [16]:
my_list

['Arnold', 1, 34, 'kiara']

In [17]:
l3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [18]:
l4 = ['cristal', 'maria', 'diana', 'evelin','']

In [19]:
l4.sort()

In [20]:
l4

['', 'cristal', 'diana', 'evelin', 'maria']

In [21]:
l4[0]='delia'

In [22]:
l4

['delia', 'cristal', 'diana', 'evelin', 'maria']

In [23]:
l4.sort()

In [24]:
l4

['cristal', 'delia', 'diana', 'evelin', 'maria']

In [25]:
x=l4.pop()

In [26]:
x

'maria'

In [27]:
#remove from index
l4.pop(1)

'delia'

In [28]:
l4

['cristal', 'diana', 'evelin']

In [29]:
l4 = ['a','e','i','o','u']

In [30]:
l5 = [4,5,8,2,3,1,89]

In [31]:
l4.sort()

In [32]:
l4

['a', 'e', 'i', 'o', 'u']

In [33]:
l5.sort()

In [34]:
l5

[1, 2, 3, 4, 5, 8, 89]

In [35]:
l5.reverse()

In [36]:
l5

[89, 8, 5, 4, 3, 2, 1]

In [37]:
# los metodos de la lista ocurren en ella misma no devuelve valores para sort y reverse

In [38]:
nested = ['1', '2' ,'4', ['101','19']]

In [39]:
nested

['1', '2', '4', ['101', '19']]

In [40]:
nested[3]

['101', '19']

In [41]:
nested[3][0]

'101'

In [42]:

nested[3][1]

'19'

In [43]:
nested[3][2]

IndexError: list index out of range

In [44]:
nested[1:]

['2', '4', ['101', '19']]

In [45]:
nested[1:3]

['2', '4']