In [29]:
a= 5

In [30]:
a

5

In [31]:
a = 10

In [32]:
a

10

In [33]:
a + a

20

In [34]:
a = " soy valor" +a

TypeError: can only concatenate str (not "int") to str

In [35]:
a

10

In [36]:
type (a)

int

In [37]:
a = 199

In [38]:
type (a)

int

In [39]:
a = 10.2

In [40]:
type(a)

float

In [17]:
int = 23

In [18]:
int

23

In [41]:
my_income = 100 
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [42]:
my_taxes

10.0