In [1]:
'hello'

'hello'

In [3]:
"world"

'world'

In [5]:
"I 'm astring"

"I 'm astring"

In [7]:
print("hello world")

hello world

In [8]:
len("hello world")

11

In [9]:
mystring="Hello World"

In [10]:
mystring

'Hello World'

In [11]:
mystring[0]

'H'

In [12]:
mystring[10]

'd'

In [14]:
mystring[-9]

'l'

In [15]:
mystring[-1]

'd'

In [16]:
mystring[-10]

'e'

In [17]:
mystring= 'abcdefghijk'

In [18]:
mystring[2:]

'cdefghijk'

In [19]:
mystring[:3]

'abc'

In [22]:
mystring[3:6]

'def'

In [23]:
mystring[1:3]

'bc'

In [24]:
mystring[::-1]

'kjihgfedcba'

In [25]:
#immutable

In [26]:
name="Jose"

In [27]:
name[0]="C"

TypeError: 'str' object does not support item assignment

In [29]:
last = name[1:]

In [30]:
'R' + last

'Rose'

In [31]:
#multiplication

In [32]:
letter = 'z'

In [33]:
letter * 10

'zzzzzzzzzz'

In [34]:
2 + 3

5

In [35]:
'2' + '3'

'23'

In [40]:
x = 'Hello World'
#to access methods hit tab

In [42]:
x.lower()

'hello world'

In [43]:
x.upper()

'HELLO WORLD'

In [44]:
x.split()

['Hello', 'World']

In [45]:
x='Jose,Juan,Mario'

In [46]:
x.split(',')

['Jose', 'Juan', 'Mario']

In [47]:
#output formatting

In [48]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [49]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [50]:
print('The {1} {0} {2}'.format('fox', 'brown', 'quick'))

The brown fox quick

In [52]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [53]:
print('The {f} {b} {q}'.format(f='fox', b='brown', q='quick'))

The fox brown quick

In [54]:
result = 100/777

In [55]:
result

0.1287001287001287

In [56]:
print("the result is {r}".format(r=result))

the result is 0.1287001287001287

In [57]:
print("the result is {r:1.3}".format(r=result))

the result is 0.129

In [61]:
print("the result is {r:10.6f}".format(r=result))

the result is   0.128700

In [62]:
name = "jose"

In [63]:
print('Hellos, my name is {}'.format(name))

Hellos, my name is jose

In [64]:
print(f'Hellos, my name is {name}')

Hellos, my name is jose

In [65]:
name = "Sam"

In [66]:
age=3

In [67]:
print(f' {name} is {age} years old.')

 Sam is 3 years old.