In [1]:
t=(1,2,3)

In [2]:

my_list=[1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(my_list)

list

In [5]:
len(t)

3

In [6]:
t= ('one',2,3)

In [7]:
t

('one', 2, 3)

In [8]:
t[0]

'one'

In [9]:
t[-1]

3

In [10]:
t = ('a','a','b')

In [11]:
t.count('a')

2

In [12]:
t.count('b')

1

In [15]:
t.count('c')

0

In [16]:
t.index('a')

0

In [17]:
t.index('b')

2

In [18]:
t[0]='jopla'

TypeError: 'tuple' object does not support item assignment

In [19]:
my_list[0]='hola'

In [20]:
my_list

['hola', 2, 3]